# anywhere
*.la
*.lo
*.o
*.so
*.x
.deps
.libs
Makefile
Makefile.in

# specific directories
/INSTALL
/aclocal.m4
/autom4te.cache
/config.build-subdirs
/config.cache
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
/config.h
/check-mixp

/build-aux/config.guess
/build-aux/config.sub
/build-aux/install-sh
/build-aux/libtool.m4
/build-aux/ltmain.sh
/build-aux/lt~obsolete.m4
/build-aux/ltoptions.m4
/build-aux/ltsugar.m4
/build-aux/ltversion.m4
/build-aux/missing
